@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap");


a{
	text-decoration: none;
	
}


.navbar {
	padding: 20px;
	font-weight: 300;
	align-items: center;
	/* border: 1px solid #f2f2ff; */
	/* bor */
	max-width: 900px;
	margin: 0 auto;
}

.navbar .navlinks {
	font-size: 18px;
	padding: 10px;
	margin-left: auto;
}

.navbar h1 {
	color: crimson;
}
.navbar a {
	color: black !important;
	text-decoration: none;
	padding: 0 8px;
	margin-left: 16px;
}

.navlinks a:hover {
	background-color: rgb(228, 80, 109) !important;
	border-radius: 8px;
	color: aliceblue;
}

.main-profile {
	margin: 0 2em;
	/* text-align: center; */
}

button {
	max-width: 150px;
	margin: 10px;
}


.home-card {
	padding: 10px;
	width: 400px !important;
	max-height: fit-content;
	margin: auto;
	margin-bottom: 26px;
}



.top-left{
	display: flex;
	flex-direction: column;
}



.top-left div h4 {
	font-size: 20px;
	float: left;
	margin: auto;
}

.top-left a {
	text-decoration: none;
}

.top-left div span {
	font-size: 12px;
	float: left;
	margin: auto;
}

.top .top-right {
	float: right;
	font-size: 18px;
	margin-right:10px;
}




.home-card .buttom {
	text-align: left;
}

.buttom-right{
	float: right;
}

.post-img {
	max-width: 400px;
	max-height: 300px;
}

.icon{
	/* color: black; */
	height: 15px;
	width: 15px;
	cursor: pointer;

}


.hide {
	visibility: hidden;
	opacity: 0;
}

.map-container {
	width: 45vw;
	height: 48vh;
	margin: 0;
	padding: 0;
	border: 2px dashed rgba(0, 0, 0, 0.392);
  }

.deactive {
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: flex;
	opacity: 0.2;
	top: 0;
	left: 0;
	background-color: grey;
}

.container {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 50vw;
	height: 54vh;
	top: 20vh;
	left: 27vw;
	justify-content: center;
	align-items: center;
	padding: 4px;
	background-color: white;
	border: 2px solid rgb(182, 182, 182);
	border-radius: 4px;
	opacity: 1 !important;
	transition: opacity 0.5s visiblity 0.5s transfrom 0.5s;
	transform: scale(0.8);
}

.modal {
	width: 100%;
	height: 100%;
	/* background-color: rgb(225, 225, 25); */
	margin: 2px;
	position: relative;
	display: flex;
}

.modal .close {
	 position: absolute;
	top: 2px;
	right: 0px;
	background-image: url('../src/close.svg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	cursor: pointer;

}
  